:root {
    --color-one-body: #F0F0F0;                 /* Light gray for body background */
    --color-two-card-template: #222831;        /* Slightly darker for card backgrounds */
    --color-three-border: #4B5A64;             /* Soft gray for borders */

    --color-accent-primary: #222831;           /* Main dark color for buttons/links */
    --color-accent-hover: #393E46;             /* Slightly lighter dark for hover/active states */

    --font-family-one: 'Noto Sans', sans-serif;

    --text-color-primary: #E0E0E0;             /* Dark gray for main text */
    --text-color-secondary: #393E46;           /* Medium gray for subtext */
    --text-color-error: #DC2626;               /* Bright red for error messages */
}


body {
    background: var(--color-one-body);
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ================ 1. NAVIGATION SIDEBAR ================ */
nav {
    background: var(--color-two-card-template);
    width: 250px;
    height: 100%;

    border-right: 1px solid var(--color-three-border);

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav :where(.form-buttons-container) {
    padding: 20px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

nav :where(.form-buttons-container) :where(form) :where(button) {
    color: var(--text-color-primary);
    background: var(--color-accent-primary);
    height: 45px;
    width: 100%;
    padding: 0px 20px;
    font-size: 14px;

    border: none;

    display: flex;
    align-items: center;
    gap: 12px;

    transition: all 0.3s ease;
    cursor: pointer;

    i {
        width: 15px;
    }
}

nav :where(form) :where(button:hover) {
    background: var(--color-accent-hover);
}

nav :where(.box-container) {
    height: 50px;
    width: 100%;
    background: var(--color-accent-hover);
}

.container {
    width: 85%;
    height: 100%;

    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container :where(.header-one) {
    height: 80px;
    width: 100%;
    background: var(--color-accent-primary);
    color: var(--text-color-primary);
    padding: 0px 50px;

    font-size: 13px;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
}


/* ================================ 3. BOOK ================================ */
.container :where(.book-list-container) {
    height: 100%;
    padding: 25px 0px;
    background: var(--color-one-body);

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container :where(.book-list-container) :where(form) {
    color: var(--color-accent-primary);
    padding: 0px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
}

.container :where(.book-list-container) :where(form) :where(.input-container) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    button {
        height: 40px;
        width: 40px;
        color: var(--text-color-primary);
        background: var(--color-accent-primary);

        border: none;
        border-radius: 6px;

        transition: all 0.3s ease;
    }

    .search-container {
        display: flex;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
    
        input {
            height: 40px;
            width: 200px;
            padding: 0px 12px;

            background: var(--color-eight-form-container);
            border-top: 1px solid lightgray;
            border-left: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            border-right: none;

            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        button {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}

.container :where(.book-list-container) :where(form) :where(.input-container) :where(.search-container) :where(input:focus) {
    outline: none;
    box-shadow: none;
}



.container :where(.book-list-container) :where(.overlay) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 99;
}

.container :where(.book-list-container) :where(.add-book-container) {
    padding: 25px 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--text-color-primary);
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
} 

.container :where(.book-list-container) :where(.add-book-container) :where(.add-book-function) {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .close-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: var(--color-accent-primary);
            font-size: 18px;
        }

        button {
            color: var(--color-accent-primary);
            background: transparent;
            font-size: 16px;

            border: none;

            cursor: pointer;
        }
    }

    .input-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        padding: 0px 2px;

        label {
            color: var(--color-accent-primary);
            font-size: 14px;
        }

        input {
            height: 40px;
            width: 200px;
            background: var(--color-eight-form-container);

            border: none;
            border-radius: 6px;

            padding: 0px 10px;
            border: none;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -.5px -.5px 0.5px rgba(0, 0, 0, 0.5);
        }
    }

    .alert-form {
        width: 100%;
        color: var(--text-color-error);
        font-size: 13px;
    }

    .save {
        height: 45px;
        width: 100%;
        background: var(--color-accent-primary);
        color: var(--text-color-primary);

        border: none;
        border-radius: 8px;

        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}

.container :where(.book-list-container) :where(.seperator-line) {
    margin: 25px 35px;
    border: 1px solid var(--color-accent-hover);
}

.container :where(.book-list-container) :where(.table-wrapper) {
    height: 350px;
    padding: 0px 40px; 
    overflow-y: auto;
    overflow-x: hidden;
}

.container :where(.book-list-container) :where(.table-wrapper)::-webkit-scrollbar {
    width: 8px; 
}
  
.container :where(.book-list-container) :where(.table-wrapper)::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
  
.container :where(.book-list-container) :where(.table-wrapper)::-webkit-scrollbar-thumb {
    background: var(--color-accent-primary); 
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}
  
.container :where(.book-list-container) :where(.table-wrapper)::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent-hover); 
}
  
@keyframes fadeSlideInStatus {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container :where(.book-list-container) :where(.table-wrapper) :where(table) {
    width: 100%;
    padding: 0px 20px;
    border-collapse: separate;
    border-radius: 8px;
    text-align: center;
}

.container :where(.book-list-container) :where(.table-wrapper) :where(table) :where(thead) {
    color: #1E293B;
}

.container :where(.book-list-container) :where(.table-wrapper) :where(table) :where(tbody) :where(tr) {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;

    transition: all 0.3s ease;   
    animation: fadeSlideInStatus 0.6s ease forwards;
}

.container :where(.book-list-container) :where(.table-wrapper) :where(table) :where(tbody) :where(tr:hover) {
    background: #EEF2FF;   
}

.container :where(.book-list-container) :where(.table-wrapper) :where(table) :where(thead) :where(tr) :where(th) {
    width: 100px;
    height: 50px;
    
    font-size: 14px;
}

.container :where(.book-list-container) :where(.table-wrapper) :where(table) :where(thead, tbody) :where(tr) :where(td) {
    /* border: 1px solid #E2E8F0; */
    width: 100px;
    height: 50px;

    font-size: 12px;
}

.container :where(.book-list-container) :where(.table-wrapper) :where(table) :where(thead) :where(tr) {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.container :where(.book-list-container) :where(.table-wrapper) :where(table) :where(thead, tbody) :where(tr) :where(td) :where(form) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.container :where(.book-list-container) :where(.table-wrapper) :where(table) :where(thead, tbody) :where(tr) :where(td) :where(form) :where(button) {
    background: transparent;
    border: none;
    cursor: pointer;
}

.container :where(.book-list-container) :where(.table-wrapper) :where(table) :where(thead, tbody) :where(tr) :where(td) :where(form) :where(button[name="edit"]) :where(i) {
    color: var(--color-accent-primary);
}

/* ================================ 3. END BOOKS CONTAINER ================================ */

/* ================================ 4. START BORROWING CONTAINER ================================ */
.container :where(.borrowing-list-container) {
    height: 100%;
    padding: 25px 0px;
    background: var(--color-one-body);

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container :where(.borrowing-list-container) :where(form) {
    color: var(--color-accent-primary);
    padding: 0px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
}

.container :where(.borrowing-list-container) :where(form) :where(.input-container) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    button {
        height: 40px;
        width: 40px;
        color: var(--text-color-primary);
        background: var(--color-accent-primary);

        border: none;
        border-radius: 6px;

        transition: all 0.3s ease;
    }

    .search-container {
        display: flex;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
    
        input {
            height: 40px;
            width: 200px;
            padding: 0px 12px;

            background: var(--color-eight-form-container);
            border-top: 1px solid lightgray;
            border-left: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            border-right: none;

            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        button {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}

.container :where(.borrowing-list-container) :where(.seperator-line) {
    margin: 25px 35px;
    border: 1px solid var(--color-accent-hover);
}

.container :where(.borrowing-list-container) :where(.table-wrapper) {
    height: 350px;
    padding: 0px 40px; 
    overflow-y: auto;
    overflow-x: hidden;
}

.container :where(.borrowing-list-container) :where(.table-wrapper)::-webkit-scrollbar {
    width: 8px; 
}
  
.container :where(.borrowing-list-container) :where(.table-wrapper)::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
  
.container :where(.borrowing-list-container) :where(.table-wrapper)::-webkit-scrollbar-thumb {
    background: var(--color-accent-primary); 
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}
  
.container :where(.borrowing-list-container) :where(.table-wrapper)::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent-hover); 
}
  
@keyframes fadeSlideInStatus {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container :where(.borrowing-list-container) :where(.table-wrapper) :where(table) {
    width: 100%;
    padding: 0px 20px;
    border-collapse: separate;
    border-radius: 8px;
    text-align: center;
}

.container :where(.borrowing-list-container) :where(.table-wrapper) :where(table) :where(thead) {
    color: #1E293B;
}

.container :where(.borrowing-list-container) :where(.table-wrapper) :where(table) :where(tbody) :where(tr) {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;

    transition: all 0.3s ease;   
    animation: fadeSlideInStatus 0.6s ease forwards;
}

.container :where(.borrowing-list-container) :where(.table-wrapper) :where(table) :where(tbody) :where(tr:hover) {
    background: #EEF2FF;   
}

.container :where(.borrowing-list-container) :where(.table-wrapper) :where(table) :where(thead) :where(tr) :where(th) {
    width: 100px;
    height: 50px;
    
    font-size: 14px;
}

.container :where(.borrowing-list-container) :where(.table-wrapper) :where(table) :where(thead, tbody) :where(tr) :where(td) {
    /* border: 1px solid #E2E8F0; */
    width: 100px;
    height: 50px;

    font-size: 12px;
}

.container :where(.borrowing-list-container) :where(.table-wrapper) :where(table) :where(thead) :where(tr) {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.container :where(.borrowing-list-container) :where(.table-wrapper) :where(table) :where(thead, tbody) :where(tr) :where(td) :where(form) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.container :where(.borrowing-list-container) :where(.table-wrapper) :where(table) :where(thead, tbody) :where(tr) :where(td) :where(form) :where(button) {
    background: transparent;
    border: none;
    cursor: pointer;
}

.container :where(.borrowing-list-container) :where(.table-wrapper) :where(table) :where(thead, tbody) :where(tr) :where(td) :where(form) :where(button[name="edit"]) :where(i) {
    color: var(--color-accent-primary);
}

/* ================================ 4. END BORROWING CONTAINER ================================ */
/* ================================ 5. ADD RETURNING CONTAINER ================================ */
.container :where(.returning-list-container) {
    height: 100%;
    padding: 25px 0px;
    background: var(--color-one-body);

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container :where(.returning-list-container) :where(form) {
    color: var(--color-accent-primary);
    padding: 0px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
}

.container :where(.returning-list-container) :where(form) :where(.input-container) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    button {
        height: 40px;
        width: 40px;
        color: var(--text-color-primary);
        background: var(--color-accent-primary);

        border: none;
        border-radius: 6px;

        transition: all 0.3s ease;
    }

    .search-container {
        display: flex;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
    
        input {
            height: 40px;
            width: 200px;
            padding: 0px 12px;

            background: var(--color-eight-form-container);
            border-top: 1px solid lightgray;
            border-left: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            border-right: none;

            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        button {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}