:root {
    --color-one-body: #F0F0F0;                 /* Light gray for body background */
    --color-two-card-template: #222831;        /* Slightly darker for card backgrounds */
    --color-three-border: #4B5A64;             /* Soft gray for borders */

    --color-accent-primary: #222831;           /* Main dark color for buttons/links */
    --color-accent-hover: #393E46;             /* Slightly lighter dark for hover/active states */

    --font-family-one: 'Noto Sans', sans-serif;

    --text-color-primary: #E0E0E0;             /* Dark gray for main text */
    --text-color-secondary: #393E46;           /* Medium gray for subtext */
    --text-color-error: #DC2626;               /* Bright red for error messages */
}


body {
    background: var(--color-one-body);
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ================ 1. NAVIGATION SIDEBAR ================ */
nav {
    background: var(--color-two-card-template);
    width: 230px;
    height: 100%;

    border-right: 1px solid var(--color-three-border);

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav :where(.form-buttons-container) {
    padding: 20px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

nav :where(.form-buttons-container) :where(form) :where(button) {
    color: var(--text-color-primary);
    background: var(--color-accent-primary);
    height: 45px;
    width: 100%;
    padding: 0px 20px;
    font-size: 14px;

    border: none;

    display: flex;
    align-items: center;
    gap: 12px;

    transition: all 0.3s ease;
    cursor: pointer;

    i {
        width: 15px;
    }
}

nav :where(form) :where(button:hover) {
    background: var(--color-accent-hover);
}

nav :where(.box-container) {
    height: 50px;
    width: 100%;
    background: var(--color-accent-hover);
}

.container {
    width: 85%;
    height: 100%;

    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container :where(.header-one) {
    height: 80px;
    width: 100%;
    background: var(--color-accent-primary);
    color: var(--text-color-primary);
    padding: 0px 50px;

    font-size: 13px;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
}




/* ================================ 4. START BORROWING CONTAINER ================================ */
/* ================================ 2. END STUDENT LIST ================================ */

/* ================================ 3. BOOK ================================ */
